# Python environment files
venv/
.venv/
env/

# Python compiled bytecode cache files
**/__pycache__/
*.py[cod]

# Local editor preferences
.vscode/

# Local Phase 2 Binary Storage Additions
telemetry_storage.db
*.pth


# Local Phase 3 Persistent ChromaDB Storage
chroma_db_storage/

